<% if current_user.admin? %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Image</th>
        <th scope="col">Cuteness score</th>
        <th scope="col">Uploaded at</th>
      </tr>
    </thead>
    <tbody>
      <% @dogs.each do |f| %>
        <tr>
          <th scope="row"><%= f.id %></th>
          <td><%= link_to image_tag(f.image), dog_path(f) %></td>
          <td><%= f.cached_votes_up %></td>
          <td><%= f.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-danger" role="alert">
    This area is reserved for Admin only
  </div>
<% end %>

<%= paginate @dogs %>

<br>
<br>

<p><%= link_to "Homepage", root_path, class: "btn btn-default" %></p>